@font-face {
    font-family: 'lilita_one';
    src: url('LilitaOne-Regular.ttf') format('truetype');
    /*Pour vous, écrivez 'Lilita_One/LilitaOne-Regular.ttf' moi je l'ai direct sans le dossier*/
}

body, html {
    font-family: 'Lilita_one';
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f186b1
}

.text{

    font-family: 'Lilita_one';
    text-transform: uppercase;
    font-size: 40px;
    color: #fddc9a;
    opacity: 0;
    transform: translateY(20px);
    animation: revealText 1.5s ease forwards;
}

/*corps de l'animation*/
@keyframes revealText {
    0% {
        opacity: 0;
        transform: translateY(250px) scale(0.5);
    }
    100%{
        font-size: 80px;
        opacity: 1;
        transform: translateY(-100%) scale(1);   /*position en haut et remettre à taille initiale*/ 
    }
}

.titre-image {
    width: 250px;
    position: absolute;
    top: 10%;
    left: 49%;
    transform: translateX(-50%);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
